.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 28px;
  width: 250px;
  height: 1086px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding-left: 7px;
  margin-bottom: 58px;
}

.sidebar__nav :nth-child(4) {
  margin-top: 32px;
}

.sidebar__nav-link {
  display: grid;
  grid-template-columns: 16px 1fr;
  align-items: center;
  gap: 15px;
  text-decoration: none;
}

.sidebar__nav-link__image {
  justify-self: center;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    background-color: #f4f4f4; /* Замените на свой цвет */
    bottom: 0;
    left: 0;
    padding: 30px 0;
    width: 100%;
    height: auto;
    z-index: 3;
  }

  .sidebar_hidden {
    display: flex;
  }

  .sidebar__nav {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    padding-left: 0;
  }

  .sidebar__nav :nth-child(n + 5) {
    display: none;
  }

  .sidebar__nav :nth-child(4) {
    margin-top: 0;
  }

  .sidebar__nav-link {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .sidebar__settings {
    display: none;
  }
}

@media (max-width: 480px) {
  .sidebar__nav-link {
    gap: 6px;
  }

  .sidebar__nav {
    gap: 0;
  }

  .sidebar__nav-link__text {
    font: normal 400 10px/13px "Mulish", sans-serif;
  }
}

.sidebar__nav-link__text {
  font: normal 400 16px/20px "Mulish", sans-serif;
  color: #898989;
  cursor: pointer;
}

.sidebar__nav-link__text:hover {
  color: #555;
}
